/* credit for the following css code to W3Schools */
a.linkbutton:link, a.linkbutton:visited {
  background-color: gray;
  font-size: 20px;
  border-radius: 32px;
  color: white;
  border: 2px solid black;
  padding: 10px;
  min-width: 80px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.linkbutton:hover, a.linkbutton:active {
  background-color: orange;
  color: white;
  border: 2px solid gray;
}
a.currentpagebutton:link, a.currentpagebutton:visited {
  background-color: orange;
  border-radius: 32px;
  color: white;
  border: 2px solid orange;
  padding: 10px;
  font-size 20px;
  min-width: 80px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.mainpagelinkbutton:link, a.mainpagelinkbutton:visited {
  background-color: aquamarine;
  border-radius: 32px;
  font-family: "Comic Sans MS", "Comic Sans", "Lucida Handwriting", "Brush Script MT", cursive, sans-serif;
  color: black;
  border: 2px solid aquamarine;
  padding: 10px;
  font-size: 32px;
  min-width: 320px;
  min-height: 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.mainpagelinkbutton:hover, a.mainpagelinkbutton:active {
  background-color: lightblue;
  color: black;
  border: 2px solid lightblue;
}
div.headerbackground {
background-color: black;
}
